* {
  padding: 0;
  margin: 0;
}

#page1, #page2, #page3, #page4 {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
}

h1 {
  display: inline;
  font-size: 80px;
}

h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
}

h3{
  font-size: 40px;
}

nav{
  margin: 100px auto;
}

#main-buttons {
  border: solid 1px black;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  background-color: #eaeaea;
  padding: 5px 15px;
  margin : 10px 0;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 800;
}

.btn:hover{
  background-color: lightseagreen;
}

#main-page{
  text-align: center;
}


.menu{
  margin: 100px auto;
}

.back_btn{
  margin: 50px auto;
}

footer{
  text-align: right;
  margin-right: 20px; 
}