* {
  padding: 0;
  margin: 0;
}
#login-page{
  display:table;
  width:400px;
  height : 50px;
  text-align: center;
}
#login-field{
  display:table-cell;
  vertical-align:middle;
  width:300px;
  height:50px;
  font-size : 30px;
  font-weight : bold;
}
#login-button{
  display:table-cell;
  vertical-align:middle;
  width:50px;
  height:50px;
  margin : 10px;
}
#main, #page1, #page2, #page3, #page4 {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
}

h1 {
  display: inline;
  font-size: 80px;
}

h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
}

h3{
  font-size: 40px;
}

nav{
  margin: 100px auto;
}

#main-buttons {
  border: solid 1px black;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*nav-bar css*/
.btn {
  cursor: pointer;
  background-color: #eaeaea;
  padding: 5px 15px;
  margin : 10px 0;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 800;
}

.btn:hover{
  background-color: lightseagreen;
}

#main-page{
  text-align: center;
}


.menu{
  margin: 100px auto;
}

.back_btn{
  margin: 50px auto;
}

.quiz-option {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 450px;
  height: 50px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 25px;
  font-weight : bold;
  text-align: center;
  line-height: 50px;
}

#quiz-word {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -600px;
  display: inline;
}

.quiz-menu {
  margin: 0 auto;
  width: 520px;
  height: 60px;
}

.quiz-console {
  margin: 0 auto;
  width: 300px;
  height: 60px;
  font-size: 50px;
}


.score-div {
  background-color: #F0F0F0;
  float: left;
  display: inline;
  margin-left: 30%;
  width: 100px;
  height: 46px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 20px;
  font-weight : bold;
  text-align: center;
  line-height: 46px;
}

#quiz-backto-menu {
  float: right;
  display: inline;
  margin-right: 30%;
  width: 100px;
  height: 50px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 20px;
  font-weight : bold;
  text-align: center;
  line-height: 50px;
}

#quiz-end-backto-menu {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 20px;
  font-weight : bold;
  text-align: center;
  line-height: 50px;
}

.quiz-time {
  background-color: #F0F0F0;
  float: left;
  display: inline;
  width: 100px;
  height: 46px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 20px;
  font-weight : bold;
  text-align: center;
  line-height: 46px;
  margin-left: 600px;
  margin-right: -100px;
}

footer{
  text-align: right;
  margin-right: 20px; 
}

/*main page css*/


/*footer css*/
footer {
  width: 100%;
  height: 100px;
  bottom: 0;
}

footer div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

table{
  padding-left: 40%;
}
tr{
  text-align: left;
  width: auto;
  height: auto;
  padding-bottom: 10px;
}

#main-info {
    display: inline-block;
    width: 16em; /* 원하는 너비로 설정하세요 */
    height: 21px;
}



#detail {
    display: none;
    white-space: normal; /* 텍스트 줄바꿈 허용 */
    width: 60%;
    
}

.quizs{
  display: none;
}


