* {
  padding: 0;
  margin: 0;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
}

#login-page{
  display:table;
  width:400px;
  height : 50px;
  text-align: center;
}

#word-input {
  display:table-cell;
  vertical-align:middle;
  width:60px;
  height:50px;
  font-size : 30px;
}

#login-field{
  display:table-cell;
  vertical-align:middle;
  width:300px;
  height:50px;
  font-size : 30px;
  font-weight : bold;
}
#login-button{
  display:table-cell;
  vertical-align:middle;
  width:50px;
  height:50px;
  margin : 10px;
}
#main, #page1, #page2, #page3, #page4 {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #FFFFFF;
}

h1 {
  display: inline;
  font-size: 80px;
}

h2 {
  text-align: center;
  font-size: 50px;
}

h3{
  font-size: 40px;
}

nav{
  margin: 100px auto;
}

#main-menu-title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
}

#select-wordcount {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 100px;
}

#select-page {
  margin-top: 100px;
}

#main-buttons {
  border: solid 1px black;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*nav-bar css*/
.btn {
  cursor: pointer;
  background-color: #eaeaea;
  padding: 5px 15px;
  margin : 10px 0;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 800;
}

.btn:hover{
  background-color: lightseagreen;
}

#main-page{
  display:none;
  text-align: center;
  height: auto;
}


.menu{
  margin: 0 auto;
}

.back_btn{
  margin: 50px auto;
}

.quiz-option {
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
  width: 400px;
  height: 40px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 22px;
  font-weight : bold;
  text-align: center;
  line-height: 40px;
}

#quiz-word {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

#quiz-word2 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.quiz-menu {
  margin: 0 auto;
  padding-top: 10px;
  width: 520px;
  height: 60px;
}

.quiz-console {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 60px;
  font-size: 50px;
}
.quiz-wrong-answer-console {
  display:block;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 10px;
  width: 500px;
  height: 30px;
  font-size: 25px;
}

.score-div {
  background-color: #F0F0F0;
  float: left;
  display: inline;
  width: 100px;
  height: 46px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 20px;
  font-weight : bold;
  text-align: center;
  line-height: 46px;
}

.quiz-backto-menu {
  float: right;
  display: inline-block;
  width: 100px;
  height: 50px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 20px;
  font-weight : bold;
  text-align: center;
  line-height: 50px;
}

.quiz-end-backto-menu {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  vertical-align:middle;
  border: 2px solid black;
  font-size : 20px;
  font-weight : bold;
  text-align: center;
  line-height: 50px;
}

.quiz-end-score {
  margin-top: 60px;
  margin-bottom: 20px;
}

.quiz-time {
  background-color: #FFFFFF;
  float: top;
  display: inline-block;
  width: 80px;
  height: 40px;
  vertical-align:middle;
  font-size : 30px;
  font-weight : bold;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}

footer{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: block;
  background-color: #303030;
}

footer > #footer-div {
  margin-top: 5px;
  margin-left: 20px;
}

footer p {
  color: white;
}

table{
  padding-left: 40%;
}

tr{
  text-align: left;
  width: auto;
  height: auto;
  padding-bottom: 10px;
}

#main-info {
    display: inline-block;
    width: 16em; /* 원하는 너비로 설정하세요 */
    height: 21px;
}

#detail {
    display: none;
    white-space: normal; /* 텍스트 줄바꿈 허용 */
    width: 60%;
    
}

.quizs{
  display: none;
}


#countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  transition: 1s;
  font-size: 0vw;
  opacity: 50%;
  color: #040; 
}